# Composer files
composer.phar
vendor/
composer.lock

# PHP CS Fixer
.php_cs.cache
.php-cs-fixer.cache
# PHPUnit
.phpunit.result.cache
.phpunit.cache

# IDE
.idea/

# Infection
infection.json
infection-log.txt
