{
  "source": {
    "directories": [
      "src"
    ],
    "excludes": [
      "./src/Module.php",
      "./src/Command/CacheWarmupCommand.php",
      "./src/Controller/CacheWarmupController.php",
      "./src/Traits/WarmupTrait.php"
    ]
  },
  "timeout": 10,
  "logs": {
    "text": "infection-log.txt"
  }
}