parametersSchema:
    reinfiLaminasDependencyInjection: structure([
        serviceManagerLoader: schema(string())
    ])

rules:
    - Reinfi\DependencyInjection\Extension\PHPStan\Rules\AutoWiringPossibleRule

services:
    -
        class: Reinfi\DependencyInjection\Extension\PHPStan\ServiceManagerLoader
        arguments:
            serviceManagerLoader: %reinfiLaminasDependencyInjection.serviceManagerLoader%
    -
        class: Reinfi\DependencyInjection\Extension\PHPStan\Resolve\AutoWiringClassesResolver
    -
        class: Reinfi\DependencyInjection\Extension\PHPStan\Resolve\AutoWiringPossibleResolver
