parameters:
    level: max
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
    excludePaths:
        analyse:
            - %currentWorkingDirectory%/src/Command*
            - %currentWorkingDirectory%/src/Service/Extractor/AttributeExtractor.php

includes:
    - vendor/bnf/phpstan-psr-container/extension.neon
