<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false"
         requireCoverageMetadata="false"
         displayDetailsOnTestsThatTriggerDeprecations="true">
  <coverage/>
  <testsuites>
    <testsuite name="unit">
      <directory suffix=".php">test/Unit</directory>
    </testsuite>
    <testsuite name="integration">
      <directory suffix=".php">test/Integration</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">config</directory>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
