name: Continuous Integration

on:
  pull_request:
  push:
    branches:
      - "master"

jobs:
  run:
    runs-on: ubuntu-20.04
    env:
      extensions: intl,mbstring
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        php: ['7.4', '8.0', '8.1']
    name: PHP ${{ matrix.php }} ${{ matrix.description }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Get composer cache directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Cache composer dependencies
        uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install dependencies
        run: composer update --no-interaction

      - name: Run phpstan
        run: composer phpstan

      - name: Run phpunit
        run: composer phpunit
